In [1]:
import pandas as pd

In [2]:
df_books = pd.read_csv('/.spyder-py3/files/input/books.csv')
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   book_id                    10000 non-null  int64
 1   goodreads_book_id          10000 non-null  int64
 2   best_book_id               10000 non-null  int64
 3   work_id                    10000 non-null  int64
 4   books_count                10000 non-null  int64
 5   isbn                       9300 non-null   object
 6   isbn13                     9415 non-null   float64
 7   authors                    10000 non-null  object
 8   original_publication_year  9979 non-null   float64
 9   original_title             9415 non-null   object
 10  title                      10000 non-null  object
 11  language_code              8916 non-null   object
 12  average_rating             10000 non-null  float64
 13  ratings_count              10000 non-null  int64
 14  work_ratings_count         10000 non-null  int64
 15  work_text_reviews_count    10000 non-null  int64
 16  ratings_1                  10000 non-null  int64
 17  ratings_2                  10000 non-null  int64
 18  ratings_3                  10000 non-null  int64
 19  ratings_4                  10000 non-null  int64
 20  ratings_5                  10000 non-null  int64
 21  image_url                  10000 non-null  object
 22  small_image_url            10000 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

In [3]:
df_books = df_books.drop_duplicates(subset = ['original_title'])
df_books = df_books.dropna(subset = ['original_title'])
df_books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9274 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   book_id                    9274 non-null   int64
 1   goodreads_book_id          9274 non-null   int64
 2   best_book_id               9274 non-null   int64
 3   work_id                    9274 non-null   int64
 4   books_count                9274 non-null   int64
 5   isbn                       8728 non-null   object
 6   isbn13                     8828 non-null   float64
 7   authors                    9274 non-null   object
 8   original_publication_year  9268 non-null   float64
 9   original_title             9274 non-null   object
 10  title                      9274 non-null   object
 11  language_code              8281 non-null   object
 12  average_rating             9274 non-null   float64
 13  ratings_count              9274 non-null   int64
 14  work_ratings_count         9274 non-null   int64
 15  work_text_reviews_count    9274 non-null   int64
 16  ratings_1                  9274 non-null   int64
 17  ratings_2                  9274 non-null   int64
 18  ratings_3                  9274 non-null   int64
 19  ratings_4                  9274 non-null   int64
 20  ratings_5                  9274 non-null   int64
 21  image_url                  9274 non-null   object
 22  small_image_url            9274 non-null   object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.7+ MB

In [4]:
df_ratings = pd.read_csv('/.spyder-py3/files/input/ratings.csv')
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5976479 entries, 0 to 5976478
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   book_id  int64
 2   rating   int64
dtypes: int64(3)
memory usage: 136.8 MB

In [5]:
df_ratings = df_ratings.drop_duplicates()
df_ratings = df_ratings.dropna()
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5976479 entries, 0 to 5976478
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   book_id  int64
 2   rating   int64
dtypes: int64(3)
memory usage: 182.4 MB

In [6]:
df_books = df_books[df_books.book_id.isin(df_ratings.book_id)]
df_ratings = df_ratings[df_ratings.book_id.isin(df_books.book_id)]

In [7]:
print(len(df_books.book_id.unique()))
print(len(df_ratings.book_id.unique()))

9274
9274